.woocommerce-cart-form {
  .cart {
    tbody {
      tr {
        td{
          .button {
            color: $white;
            height: 100%;
            padding: 7px 5px 7px;
            height: 97%;
            border: none;
          }
          .coupon {
            height: 40px;
            #coupon_code {
              height: 100%;
            }
            .button {
              color: $white;
              padding: 5px 5px 5px;
              height: 97%;
              border: none;
            }
          }
        }
      }
    }
  }
}