/** Header */

.logged-in {
  .sticky-top {
    top: 32px;
  }
}

#navbar {
  height: 63px;
  .logo {
    max-width: 48px;
    height: auto;
    position: initial;
    left: 50%;
  }
}

// Base styling for navbar
#navbar-header {
  /*height:63px;*/
  justify-items: center;
  .logo {
    max-width: 300px;
    transition: all 1.5s ease-in-out;
    position: absolute;
    top: 15em;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.small .logo {
    max-width: 48px;
    top: 8px;
    left: 15px;
    /*position: initial;*/
    transform: translate(0, 0);

  }
  &.no-transition .logo {
    transition: none !important;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 1.5s ease-in-out; // Match the logo transition duration
  z-index: 999; // Behind the logo
  opacity: 0.8;
}

.fade-out {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.fade-out-complete {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.is-sticky {
  width: 100%;
  background-color: #A6A198;
  padding: 0;
  transition: background-color 0.25s, padding-bottom 0.25s;
  z-index: 1000;
}


/**
Header Carousel
 */

.header-carousel {
  background-color: #D9D3C7;
  .carousel-item {
    .header-carousel-text {
      color: #0D0D0D;
      font-size: 1.5rem;
    }
  }
}

#masthead {
  background-color: #595958;
}

/**
Navigation - menu
 */
.navigation {
  margin-bottom: 5em;
  /*padding-bottom: 1em;*/
  background-color: #595958;
  transition: background-color 0.25s;
  .navbar {
    li {
      margin-left: 1em;
      margin-right: 1em;
      a {
        font-size: 1.1rem;
      }
    }
  }
}
