/** Header */

// Hamburger icon alignment
.navbar-toggler {
  right: 15px;
}

.nav-wrapper {
  background-color: #595958;
}

.logged-in {
  .sticky-top {
    top: 32px;
  }
  .sticky-top.no-theme-mod {
    top: 0;
  }
}

#navbar {
  height: 63px;
  .logo {
    max-width: 48px;
    height: auto;
    position: initial;
    left: 50%;
  }
}

// Base styling for navbar
#navbar-header {
  /*height:63px;*/
  justify-items: center;
  .logo {
    max-width: 300px;
    transition: all 1.5s ease-in-out;
    position: absolute;
    top: 15em;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.small .logo {
    max-width: 48px;
    top: 5px;
    left: calc(3% + 10px);
    transform: translate(0, 0);
  }
  &.no-transition .logo {
    transition: none !important;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 1.5s ease-in-out; // Match the logo transition duration
  z-index: 999; // Behind the logo
  opacity: 0.8;
}

.fade-out {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.fade-out-complete {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.is-sticky {
  width: 100%;
  background-color: $nav_grey;
  padding: 0;
  transition: background-color 0.25s, padding-bottom 0.25s;
  z-index: 1000;
}

/**
Header Carousel
 */

.header-carousel {
  background-color: $white_background;
  .carousel-item {
    a {
      .header-carousel-text {
        color: $font_dark;
        font-size: 1.2rem;
      }
    }
  }
}

#masthead {
  background-color: $masthead;
}

/**
Navigation - menu
 */
.navigation {
  margin-bottom: 5em;
  /*padding-bottom: 1em;*/
  background-color: $masthead;
  transition: background-color 0.25s;
  .navbar {
    li {
      margin-left: 1em;
      margin-right: 1em;
      a {
        font-size: 1.1rem;
      }
    }
  }
}

// Adjust the menu when collapsed
@media (max-width: 1199.98px) {
  .navbar-toggler {
    margin-right: 15px;
  }

  .navbar-collapse {
    transition: transform 0.3s ease;
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: #343a40;
    z-index: 999;

    // Ensuring the menu items are aligned to left of the right sliding panel
    padding: 1rem;
  }

  .navbar-collapse.show {
    transform: translateX(0);
  }

  // Hiding the logo in mobile view
  /*.navbar-logo .logo {
    display: none;
  }*/

  // Adding padding to main content when menu is open
  .navbar .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: $white;
    font-size: 2.5rem;
  }
}

// Hide close button on larger screens
@media (min-width: 1199.99px) {
  .close-menu {
    display: none;
  }
  #navbar-header {
    .container {
      .navbar {
        margin: 0 auto 0 auto;
      }
    }
  }
}

@media (max-width: 1199.98px) {
  #navbar-header {
    .container {
      .navbar {
        margin: 0 0 0 auto;
      }
    }
  }
  #navbar-header {
    &.small .logo {
      max-width: 48px;
      top: 5px;
      left: calc(9% + 10px);
      transform: translate(0, 0);
    }
  }
}




/* Media query for landscape orientation on tablets and mobiles */
@media (max-width: 926px) and (orientation: landscape) {
  #menu-main {
    list-style: none; /* Remove default list styling */
    margin: 0; /* Remove default margins */
    padding: 2em 0; /* Remove default padding */
    max-height: 100vh; /* Set maximum height to the viewport height */
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    padding: 2em 0;
  }
}