/** Header */

.logged-in {
  .sticky-top {
    top: 32px;
  }
}

.title-row {
  img.logo {
    max-width: 80px;
  }
}

/**
Header Carousel
 */

.header-carousel {
  background-color: #0BBFBF;
  margin-bottom: 1em;
  .carousel-item {
    .header-carousel-text {
      color: $white;
      font-size: 1.5rem;
    }
  }
}

/**
Navigation - menu
 */
.navigation {
  padding-bottom: 1em;
  background-color: #000;
  .navbar {
    li {
      margin-left: 1.2em;
      margin-right: 1.2em;
      a {
        font-size: 1.5rem;
      }
    }
  }
}

.is-sticky {
  /* Add your desired styles here */
  background-color: #D93654;
  transition: background-color 0.25s;
  padding-bottom: 0;
  transition: padding-bottom 0.15s;
}
