/** Products */
.card {
  a {
    img {
      height: 350px;
      object-fit: cover;
      width: 100%;
    }
  }
}

#product-category-archive {
  &.category-container-archive {
    .row {
      .col {
        .card {
          a {
            img {
              height: auto;
              object-fit: cover;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.product-name {
  a {
    color: #595958
  }
}
