/** Products */

.single-product {
  margin-bottom: 5em;
}

a.added_to_cart.wc-forward {
  background-color: #0D0D0D !important;
  border-radius: 0 !important;
  color: #ffffff !important;
  font-weight: 700;
  padding: .618em 1em;
  line-height: 1;
  margin-left: 2px;
}
.card {
  a {
    img {
      height: 350px;
      object-fit: cover;
      width: 100%;
    }
  }
}

#product-category-archive {
  &.category-container-archive {
    .row {
      .col {
        .card {
          a {
            img {
              height: auto;
              object-fit: cover;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.product-name {
  a {
    color: #595958
  }
}

.woocommerce-product-gallery {
  ol.flex-control-nav.flex-control-thumbs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3em;
    list-style-type: decimal;
    padding: 0;
    margin: 0;
    li {
      width: 100% !important;
      margin: 0.3em 0 0 0;
    }
  }
  .flex-viewport {
    margin-bottom: 1em;
  }
}

div.product .stock {
  color: $font_dark !important;
}
