/** Products */

.single-product {
  margin-bottom: 5em;
}

a.added_to_cart.wc-forward {
  background-color: #0D0D0D !important;
  border-radius: 0 !important;
  color: #ffffff !important;
  font-weight: 700;
  padding: .618em 1em;
  line-height: 1;
  margin-left: 2px;
}
.card {
  a {
    img {
      height: 350px;
      object-fit: cover;
      width: 100%;
    }
  }
}

#product-category-archive {
  &.category-container-archive {
    .row {
      .col {
        .card {
          a {
            img {
              height: auto;
              object-fit: cover;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.product-name {
  a {
    color: #595958
  }
}

.woocommerce-product-gallery {
  ol.flex-control-nav.flex-control-thumbs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3em;
    list-style-type: decimal;
    padding: 0;
    margin: 0;
    li {
      width: 100% !important;
      margin: 0.3em 0 0 0;
    }
  }
  .flex-viewport {
    margin-bottom: 1em;
  }
}

div.product .stock {
  color: $font_dark !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-bottom: 1px solid #000 !important;
}

.tabs.wc-tabs {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.woocommerce div.product .woocommerce-tabs .panel {
  border-bottom: 1px solid #000 !important;
  border-left: 1px solid #000 !important;
  border-right: 1px solid #000 !important;
  padding: 1.618em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  background: $white_background !important;
  color: #515151;
  z-index: 2;
  border-bottom-color: $white_background !important;
  border-left: 1px solid #000 !important;
  border-top: 1px solid #000 !important;
  border-right: 1px solid #000 !important;
}

li.description_tab.active::before {
  box-shadow: 2px 2px 0 #D9D3C7 !important;
  border: 1px solid #000 !important;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
  box-sizing: border-box;
  border-left: none !important;
  border-top: none !important;
}

li.description_tab::before {
  box-shadow: 2px 2px 0 #D9D3C7 !important;
  border: 1px solid #e9e6ed !important;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
  box-sizing: border-box;
  border-left: none !important;
  border-top: none !important;
}

li.description_tab.active::after {
  box-shadow: -2px 2px 0 #D9D3C7 !important;
  border: 1px solid #000 !important;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
  box-sizing: border-box;
  border-right: none !important;
  border-top: none !important;
}

li.description_tab::after {
  box-shadow: -2px 2px 0 #D9D3C7 !important;
  border: 1px solid #000 !important;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
  box-sizing: border-box;
  border-right: none !important;
  border-top: none !important;
}

li.reviews_tab.active::before {
  box-shadow: 2px 2px 0 #D9D3C7 !important;
  border: 1px solid #000 !important;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
  box-sizing: border-box;
  border-left: none !important;
  border-top: none !important;
}

li.reviews_tab.active::after {
  box-shadow: -2px 2px 0 #D9D3C7 !important;
  border: 1px solid #000 !important;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
  box-sizing: border-box;
  border-right: none !important;
  border-top: none !important;
}

li.reviews_tab::before {
  box-shadow: 2px 2px 0 #D9D3C7 !important;
  border: 1px solid #e9e6ed !important;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
  box-sizing: border-box;
  border-left: none !important;
  border-top: none !important;
}

li.reviews_tab::after {
  box-shadow: -2px 2px 0 #D9D3C7 !important;
  border: 1px solid #e9e6ed !important;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
  box-sizing: border-box;
  border-right: none !important;
  border-top: none !important;
}


li.additional_information_tab.active::before {
  box-shadow: 2px 2px 0 #D9D3C7 !important;
  border: 1px solid #000 !important;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
  box-sizing: border-box;
  border-left: none !important;
  border-top: none !important;
}

li.additional_information_tab.active::after {
  box-shadow: -2px 2px 0 #D9D3C7 !important;
  border: 1px solid #000 !important;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
  box-sizing: border-box;
  border-right: none !important;
  border-top: none !important;
}

li.additional_information_tab::before {
  box-shadow: 2px 2px 0 #D9D3C7 !important;
  border: 1px solid #e9e6ed !important;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
  box-sizing: border-box;
  border-left: none !important;
  border-top: none !important;
}

li.additional_information_tab::after {
  box-shadow: -2px 2px 0 #D9D3C7 !important;
  border: 1px solid #e9e6ed !important;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
  box-sizing: border-box;
  border-right: none !important;
  border-top: none !important;
}



