

.animated-graphic {
  width: 600px; /* Adjust as necessary */
  height: auto; /* Adjust as necessary */
  position: fixed; /* Fixed positioning ensures it's sticky */
  top: 150px; /* Adjust the vertical position as needed */
  left: -650px; /* Start hidden, outside the viewport */
  transition: left 1s; /* Smooth slide-in transition */
  z-index: 1000; /* Ensure the graphic is above other content */
}

.animated-graphic img {
  width: 100%; /* Ensure the image fits within the container */
  height: auto; /* Maintain aspect ratio */
}

.slide-in {
  left: -100px; /* Adjust position after sliding in */
}

.slide-out {
  left: -650px; /* Slide back out to hide */
}







.container-fluid {
  &.header-carousel {
    --bs-gutter-x: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: block;
    position: absolute;
    top: 0;
  }
}

#navbar-header, #navbar {
  padding-top: 2em;
}

#navbar-header.no-theme-mod, #navbar.no-theme-mod {
  padding-top: 0;
}

#navbar {
  height: 84px !important;
}

#navbar.no-theme-mod {
  height: 63px !important;
}

#navbar-header {
  &.small {
    .logo {
      top: 33px !important;
    }
  }
}

#navbar-header.no-theme-mod {
  &.small {
    .logo {
      top: 5px !important;
    }
  }
}

.no-padding-container {
  padding-left: 0;
  padding-right: 0;
}

.logged-in .sticky-top.no-theme-mod {
  top: 32px !important;
}